<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nodejs Client Relational Management System</title>

    <!--    sheets   -->
    {{--  Icons  --}}
    <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../../public/css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />   
</head>
<body>
    
        <div id="wrapper">
            <div class="overlay"></div>
    
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
              <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                  <a href="/">
                    Management
                  </a>
                </li>
                <li>
                  <a href="/"><i style='color:red;' class="fa fa-fw fa-home"></i> Dashboard</a>
                </li>
                <!-- @can('view client') -->
                <li class="client-options hide dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i style='color:green;' class="fa fa-fw fa-briefcase"></i> Clients <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Client Options</li>
                    <li><a href="#">View Clients</a></li>
                    <!-- @can('create client') -->
                    <li class="create-client hide"><a href="#">Create Client</a></li>
                    <!-- @endcan -->
                  </ul>
                </li>
                <!-- @endcan -->
                <!-- @can('view user') -->
                <li class="hide dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i style='color:blue;' class="fa fa-fw fa-users"></i> Users <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">User Options</li>
                    <li><a href="#">View Users</a></li>
                    <!-- @can('create user') -->
                    <li><a href="#">Create User</a></li>
                    <!-- @endcan -->
                  </ul>
                </li>
                <!-- @endcan -->
                <!-- @can('view log') -->
                <li class="hide dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i style='color:yellow;' class="fa fa-fw fa-tasks"></i> Logs <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Log Options</li>
                    <li><a href="#">View Logs</a></li>
                    <!-- @can('create log') -->
                    <li><a href="#">Create Log</a></li>
                    <!-- @endcan -->
                  </ul>
                </li>
                <!-- @endcan -->
                <li>
                  <a href="#"><i style='color:purple;' class="fa fa-fw fa-cogs"></i> Settings</a>
                </li>
                <li>
                  <a href="#"><i style='color:orange;' class="fa fa-fw fa-folder"></i> Logout</a>
                </li>
                <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Dropdown heading</li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
                </li>  -->
              </ul>
            </nav>
            <!-- /#sidebar-wrapper -->


            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div style="color:white;" class="col-lg-12">
                            <h3 class="page-header text-center lead"></h3>
                            <div style="color:white;font-size:14px;" class="last-login pull-right"></div>
                            <div class="pull-left hide">
                                <ol class="breadcrumb">
                                    <li class="breadcrum-item"><a href="/">Home</a></li>
                                    <!-- @yield('breadcrumbs')> -->
                                </ol>
                            </div>
                            
                            <br>

                            <br>
                            <div class="panel panel-success text-center">
                                <div class="panel-heading">You have successfully performed your requested action.</div>
                            </div>

                            <br>
                            <div class="panel panel-danger text-center">
                                <div class="panel-heading">We could not grant your request due to error: 502.</div>
                            </div>
                            
                            <br>
                            <!-- !!!!! -->
                            <div>Show different graph statistics here based on permissions</div>

                            <div class="footer">
                                <hr/>
                                <div class="text-center">Nodejs Client Relational Management System &copy; 2017.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

    <script src="../../public/js/axios.min.js" type="text/javascript"></script>
    <script src="../../public/js/app.js" type="text/javascript"></script>
    <script>
      /* @returns {object} */
      const getHome = async () => {
        const apiDomain = 'http://localhost:3000';
        const homeRes = await axios.get(`${apiDomain}/api/v1`)
          .then(data => data.data)
          .catch(err => {
            if (err) {
              throw err;
            }
          });
        return homeRes;
      };
      
      /**
       * @param {object} auth - The authenticated user's auth details.
       * @returns {void}
       */
      const renderNavbar = (auth) => {
        if (auth.permissions.includes('view client')) {
          document.querySelector('.client-options')
            .classList
            .remove('hide');
        }
        if (auth.permissions.includes('create client')) {
          document.querySelector('.create-client')
            .classList
            .remove('hide');
        }
      };
      const run = async () => {
        const res = await getHome();
        console.log(res);
        document
          .querySelector('.page-header')
          .textContent = res.data.routeName;
        document
          .querySelector('.last-login')
          .textContent = 
            `Last logged in as ${res.data.user.auth.name} ${res.data.user.auth.lastLogin}`;

        renderNavbar(res.data.user.auth);
      };
      run();
    </script>
</body>
</html>